@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
font-family: "Poppins", sans-serif;
background-color: #f0f0f0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}


.login-box {
background: rgba(255, 255, 255, 0.2);
padding: 20px;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
width: 300px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 2px solid rgba(255, 255, 255, 0.3);

}


h2 {
text-align: center;
margin-bottom: 20px;
color: #cfcfcf;
}


label {
display: block;
margin-bottom: 5px;
font-weight: bold;
color: #cfcfcf;
}


input[type="text"], input[type="password"] {
width: 90%;
padding: 8px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 4px;
}


button {
  width: 45%;
  padding: 10px;
  margin-left: 27%;
  background: linear-gradient(135deg, #a66cff, #c299ff);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  transform: skewX(-25deg);
  transition: 0.6s;
}

button:hover::before {
  left: 120%;
}

button:hover {
  background: linear-gradient(135deg, #9b59b6, #6c5ce7);
  box-shadow: 0 0 20px rgba(155, 89, 182, 0.5);
  transform: scale(1.05);
}



p {
text-align: center;
margin-top: 10px;
font-size: 14px;
}


a {
color: violet;
text-decoration: none;
}


a:hover {
text-decoration: underline;
}